@import 'variables';
@import 'reset';
@import './fonts.scss';

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.main-wrapper {
  font-size: 100px;
}

.main-wrapper__rules-section,
.main-wrapper__home-section,
.main-wrapper__question-section,
.main-wrapper__result-section {
  width: 100vw;
  height: 100vh;
  background-color: $main-bg-color;
}

.main-wrapper__home-section {
  position: relative;
  padding: 0 $sectionPadding;
  background-color: $home-bg-color;
  height: 100vh;
}

.logo-wrapper {
  position: absolute;
  top: 5%;
  height: 15%;
  width: 140px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $btnFColor;
  background-color: $btnBGColor;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  font-size: 24%;
  font-family: 'Raleway Bold', Arial;
  transition: transform 0.1s ease-in-out;
  outline: none;
  opacity: 1;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    transform: scale(0.97);
  }
}

/* --- --- home --- --- */

.home {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $home-bg-color;
    color: $main-font-color;
  }

  &__title {
    font-size: 60%;
    margin-bottom: 40px;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
  }

  &__subTitle {
    font-size: 25%;
    margin-bottom: 16%;
  }

  &__inner {
    position: relative;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-self: flex-end;
  }

  &__img {
    position: relative;
    left: $sectionPadding;

    img {
      height: 100%;
    }
  }

  &__btn {
    width: 280px;
    height: 65px;
  }
}

/* --- --- rules --- --- */

.main-wrapper__rules-section {
  padding: $sectionPadding $sectionPadding 70px;
}

.rules,
.question,
.result {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 90%;
    background-color: $main-bg-color;
    color: $main-font-color;
  }

  &__title {
    font-size: 40%;
    margin-bottom: 60px;
    font-family: 'Raleway Bold', Arial;
  }

  &__subTitle {
    font-family: 'Raleway Bold', Arial;
  }

  &__subTitle,
  &__prompt {
    font-size: 20px;
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  &__item {
    width: 30%;
  }

  &__item-order {
    font-size: 40%;
    margin-bottom: 25px;
    font-weight: bold;
    color: $orderFColor;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
  }

  &__item-text {
    font-size: 16%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
  }

  &__btn {
    width: 35%;
    max-width: 360px;
    height: 60px;
    margin: 0 auto;

    &.disable {
      opacity: 0.6;
      cursor: none;
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1280px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .main-wrapper__rules-section,
  .main-wrapper__home-section {
    width: 100vh;
    height: 100vw;
  }
}

/* --- --- question --- --- */

.main-wrapper__question-section {
  padding: 70px $sectionPadding;
}

.question {
  &__wrapper {
    height: 80%;
  }

  &__header {
    width: 100%;
    margin-bottom: 60px;
  }

  &__prompt {
    font-style: italic;
  }

  &__order {
    font-size: 30%;
    margin-bottom: 40px;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;

    p {
      display: inline;
    }
  }

  &__title {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 30%;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
    white-space: pre-line;
  }

  &__item {
    position: relative;
    width: 85%;
    max-height: 300px;

    img {
      width: 100%;
      height: 100%;
      max-height: 310px;
      min-height: 206px;
      object-fit: contain;
      object-position: 0 0;
    }

    img:nth-child(2) {
      position: absolute;
    }
  }

  &__item:nth-child(3) {
    img {
      object-fit: fill;
    }
  }
}

.question-enter {
  opacity: 0;
}

.question-leave-active {
  opacity: 0;
}

.question-enter .question-container,
.question-leave-active .question-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.question__label {
  position: relative;
  display: block;
  text-align: left;
  font-size: 24%;
  font-weight: 600;
  padding-left: 40px;
  min-width: 280px;

  input:checked ~ .checkmark {
    background-color: transparent;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: none;
    border-radius: 100px;
    background-color: #000;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}

.question__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3vw 1vw;
}

.question__inner.four {
  grid-template-columns: repeat(4, 1fr);
}

.question__inner.col {
  grid-template-columns: 1fr;
}

.question__inner.two {
  grid-template-columns: repeat(2, 1fr);
}

.question__inner.fourImages {
  .question__item {
    img:nth-child(1) {
      width: 70%;
    }

    img:nth-child(2) {
      position: absolute;
      object-position: 0 0;
    }
  }

  .question__item:nth-child(1) {
    width: 102%;

    img:nth-child(1) {
      width: 32%;
    }

    img:nth-child(2) {
      right: 20%;
      width: 46%;
    }
  }

  .question__item:nth-child(2) {
    // width: 102%;
    img:nth-child(1) {
      width: 72%;
    }

    img:nth-child(2) {
      width: 49%;
      right: -23%;
    }
  }
}

.question__option {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 2vw;
  background-color: transparent;
  border: 0.1vw solid #000;
  border-radius: 100px;

  &::before {
    content: '';
    display: block;
    margin-bottom: 100%;
  }
}

/* --- --- result --- --- */

.result {
  &__wrapper {
    justify-content: center;
    height: 83%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $orderFColor;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
    margin-bottom: 70px;
  }

  &__details {
    display: flex;
    align-items: baseline;
    margin: 20px 0;
    line-height: 6rem;

    p:nth-child(1) {
      font-size: 150%;
    }
    p:nth-child(2) {
      font-size: 50%;
    }
    p:nth-child(3) {
      font-size: 50%;
    }
  }

  &__subtitle {
    font-size: 24%;
  }

  &__info {
    position: relative;
    top: 5%;
    font-size: 30%;
    width: 50%;
    margin: 0 auto;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
    text-align: center;
  }
}
